<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.star.mapper.UserMapper">


    <resultMap id="getUser" type="com.shu.star.model.User">
        <id column="id" property="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="height" column="height"/>
        <result property="address" column="address"/>
        <result property="point" column="point"/>
        <result property="userType" column="user_type"/>
        <result property="addressType" column="address_type"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
    <resultMap id="getUserVo" type="com.shu.star.vo.UserVo">
        <id column="id" property="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="age" column="age"/>
        <result property="height" column="height"/>
        <result property="birthday" column="birthday"/>
        <result property="people" column="people"/>
        <result property="address" column="address"/>
        <result property="point" column="point"/>
        <result property="userType" column="user_type"/>
        <result property="addressType" column="address_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <collection property="urls" column="id" select="getFileUrlByUserId"></collection>
        <collection property="starTypeList" column="id" select="getStarTypeListByUserId"></collection>
    </resultMap>

    <!--获取明星类型-->
    <select id="getStarTypeListByUserId" resultType="integer">
        select star_type from star_item where user_id=#{0}
    </select>
    <select id="getFileUrlByUserId" parameterType="integer" resultType="string">
        select url from user_file where user_id=#{0} and is_deleted=0 order by create_time desc
    </select>

    <select id="getUserById" parameterType="integer" resultMap="getUserVo">
        select *  from user  where id=#{0} and is_deleted=0;
    </select>

    <insert id="addUser" parameterType="com.shu.star.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(user_name,password,name,gender,age,height,address,weight,point,status,user_type,address_type,create_time,update_time,is_deleted)
        values(#{userName},#{password},#{name},#{gender,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{age},#{height},#{address},#{weight},#{point},#{status},#{userType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{addressType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{createTime},#{updateTime},#{isDeleted})
    </insert>

    <insert id="addStarItem" parameterType="com.shu.star.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into star_item(user_id,star_type,create_time,is_deleted)
        values(#{userId},#{starType},#{createTime},0)
    </insert>

    <insert id="addUserFile" parameterType="com.shu.star.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into user_file(user_id,url,is_deleted)
        values(#{userId},#{url},0)
    </insert>



    <select id="login"  resultMap="getUser">
        select * from user where user_name=#{userName} and password=#{password} and is_deleted=0
    </select>

    <select id="getUserList"  resultMap="getUserVo">
        select * from user
        <where>
            <if test="addressType != null"> and address_type=#{addressType}</if>
        </where>
    </select>


    <select id="getUserListByMap" parameterType="hashmap"  resultMap="getUserVo">
        select distinct u.* from user u,star_item si
        <where>
            <if test="1==1">u.id=si.user_id</if>
            <if test="addressType != null"> and address_type=#{addressType}</if>
            <if test="starType != null"> and si.star_type=#{starType}</if>
        </where>
        order by u.point desc
        limit #{firstIndex},#{size}
    </select>

    <update id="addStarPoint" parameterType="integer">
        update user set point=point+1 where id=#{0}
    </update>

    <update id="updateUser" parameterType="com.shu.star.model.User">
        update user
        <set>
            <if test="userName !=null">
               user_name=#{userName},
            </if>
             <if test="password !=null">
                 password=#{password},
            </if>
            <if test="name !=null">
                name=#{name},
            </if>
            <if test="gender !=null">
                gender=#{gender,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
            </if>
            <if test="age !=null">
                age=#{age},
            </if>
            <if test="height !=null">
                height=#{height},
            </if>
            <if test="weight !=null">
                weight=#{weight},
            </if>
            <if test="updateTime !=null">
                update_time=#{updateTime},
            </if>
            <if test="birthday !=null">
                birthday=#{birthday},
            </if>
            <if test="people !=null">
                people=#{people},
            </if>
            <if test="address !=null">
                address=#{address},
            </if>
            <if test="userType !=null">
                user_type=#{userType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
            </if>
            <if test="addressType !=null">
                address_type=#{addressType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
            </if>

        </set>
        where id=#{id}
    </update>

</mapper>